@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

*
{
  margin: 0;
  padding: 0;
  --controls-height: 25px;
 
}
body 
{
  display: flex;
  justify-content: center;
  align-items:flex-start ;
  min-height: 100vh;
  background: #222227;
  font-family: 'Montserrat', sans-serif;
  min-width: 600px;
}

.content {
  min-width: 600px;
  position: sticky;
  top:0px;
  left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center ;
  width: calc(100% - 4px);
  background: #414144;
  padding: 0px;
  border: 3px solid #091921;
}

.acc-button {
  height: var(--controls-height);
  width: var(--controls-height);
  border: 0px;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
}

.acc-button::before {
  content: var(--title);
  font-family: 'FontAwesome';
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center ;
  font-size: calc(var(--controls-height) );
  top: 0px;
  left: 0px;
  width: calc(var(--controls-height) - 2px);
  height: calc(var(--controls-height) - 2px);
  font-weight: 500;
  /* border-radius: 50%;
  background: red; */
}

.controls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--controls-height) * 1.15);
  width: 100%;
  margin: 6px;
  gap: 10px;
}

.controls * {
  min-height: var(--controls-height);
  font-family: 'Montserrat', sans-serif;
}

.controls input {
  text-align: center;
  width: calc(var(--controls-height) * 2.5);
}

.view {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: calc(100% - var(--offsetTop));
  overflow:scroll;
  top: var(--offsetTop);
}

.result {
  position: relative;
  height: var(--content-height);
  width: var(--content-width);
}

.result.show * {
  background: hsl(var(--hue),100%,73%);
  box-shadow:none;
}

.result * {
  display: flex;
  justify-content: center;
  align-items: center ;
  min-width: var(--t);
  min-height: var(--t);
  color:  hsl(var(--hue),100%,20%);
  font-size: calc(var(--t) / 3);
  box-shadow: 0px 0px calc(var(--t) * 2) inset hsl(var(--hue),100%,30%);
  cursor:pointer;
  font-weight: 100;
  overflow: hidden;
  user-select: none;
  background: linear-gradient(135deg, hsl(var(--hue),100%,75%), hsl(var(--hue),100%,55%));
}

.result.show *::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background: radial-gradient(hsl(var(--hue),100%,75%) 50%, hsl(var(--hue),100%,55%));
  /* border: 1px solid hsl(var(--hue),100%,30%); */
  transform: translate(var(--transform)); 
  box-shadow: 0px 0px calc(var(--t) /2) hsl(var(--hue),100%,30%),
              0px 0px var(--t) hsl(var(--hue),100%,28.3%),
              0px 0px calc(var(--t) * 2) hsl(var(--hue),100%,25%);
  z-index: -1;
}

.label-fibonacci{
  padding-left: 4px;
  color: azure;
  font-size: medium;
  font-weight: 500;
  width: 100%;
}

.number {
  color:  hsl(var(--hue),100%,95%);
  text-shadow: 0px 0px calc(var(--t) * 2) hsl(var(--hue),100%,25%);;
  z-index: 10;
}

.result.show > * > .number {
  color:  hsl(var(--hue),100%,25%);
  text-shadow: 0px 0px calc(var(--t) * 2) hsl(var(--hue),100%,95%);
  font-size: calc(var(--t) / 5);

}